body {
    background-image: url("GRID_TABLAZAT/kepek/hatter.jpg");
}
main, header, nav, article, aside, footer {
    background-color: white;
}
main {
    display: grid;
    grid-template-areas: "h h h"
                         "n ar as"
                         "f f f";
    grid-template-columns: 1fr 1fr 300px;
    max-width: 800px;
    text-align: justify;
    margin: auto;
}
header {
    grid-area: h;
    background-image: url("GRID_TABLAZAT/kepek/fejlec.jpg");
    color: white;
    text-align: center;
    padding: 20px;
}
header a {
    padding: top;
}
nav li {
    grid-area: n;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: left;
    background-color: rgb(0,141,232);
    color: white;
    list-style-type: none;
}
article {
    grid-area: ar;
}
article section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
article img {
    width: 200px;
    margin: 10px;
}
aside {
    grid-area: as;
    padding: 10px;
    background-color: rgb(255,255,252);
    text-align: justify;
}
footer {
    grid-area: f;
    background-color: rgb(0,141,232);
    text-align: center;
}
@media screen and (max-width: 800px){

    main{
        grid-template-areas: " h "
                             " n "
                             " ar "
                             " as "
                             " f ";
    }
    header {
        grid-template-columns: 1fr;
    }
    nav {
        grid-template-columns: 1fr;
    }
    article {
        grid-template-columns: 1fr;
    }
    aside {
        grid-template-columns: 1fr;
    }
    footer {
        grid-template-columns: 1fr;
    }
}